.orange {
    color: #f87004;
}
.header-bg-color-one {
    background-color: #3b7eff !important;
}

.header-bg-color-two {
    background-color: #0154F8 !important;
    height: 90px;
}

.white{
    color: rgba(255, 255, 255, 0.9) !important;
    text-decoration: none !important;
}
.logo {
    margin-left: -5px;
}
.social-logo {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    background: rgba(0, 0, 0, 0.1);
    font-size: 16px;
    align-items: center;
    justify-content: center;
}

.header-btn {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    height: 45px;
    width: 160px !important;
}

header .navbar .container ul.navbar-nav li:last-child {
    margin-right: 0px !important;
} 

.carousel-caption h1 span.larger {
    color: #232122; 
    font-weight: 200; 
    font-size: larger;
}

.carousel-caption h1 span.bold {
    color:#232122; 
    font-weight: bold;
}

.carousel-caption h1 span.orange {
    color: #f87004;
}

.carousel-caption h3 span {
    letter-spacing: 3px; 
    font-weight: 300;
}

.btn-warning2 {
    color: #fff;
    background-color: #f86e03;
    border-color: #f86e03;
}

.btn-warning2:hover {
    color: #fff;
    background-color: #e86906;
    border-color: #e86906;
}

.font-size-13 {
    font-size: 13px;
    padding: 15px 25px;
}

.content .featurette h2 span.larger {
    color: #232122; 
    font-weight: 200; 
    font-size:40px;
}

.content .featurette h2 span.bold {
    color:#232122; 
    font-weight: bold;
}

.content .featurette h2 span.orange {
    color: #f87004;
}

.card {
    border: none;
}

.card .card-body {
    padding: 1.25rem 0 1.25rem 0;
}

.card .card-body .card-title {
    color: #000;
    letter-spacing: 1px;
}


.footer-bg-color {
    background-color: #072155 !important;
}

.footer-social-logo {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-right: 5px;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #0154F8;
}

.footer-social-logo a.facebook:hover {
    background-color: #3b7eff;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    border: 1px solid #3b7eff;
}

.footer-social-logo a.twitter:hover {
    background-color: #1da1f2;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    border: 1px solid #3b7eff;
}

.footer-social-logo a.instagram i {
    font-size: 17px;
}

.footer-social-logo a.instagram:hover {
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    /* background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ); */
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    border: 1px solid #3b7eff;
}

.footer-social-logo a.google:hover {
    background: #FFF url("../img/google.png") no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    border: 1px solid #3b7eff;
}

.footer-social-logo a.google:hover i {
    display: none;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0;
    background-color: transparent !important;
    border: none;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, .6);
}

.list-group-item:hover {
    text-decoration: underline;
}

.footer-recent {
    color: rgba(255, 255, 255, .6);
}

.footer-recent img {
    border-radius: 5px;
}

.divider {
    background: #17449e !important;
}

.up-top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3b7eff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 16px;
    border: 1px solid #999;
    color: #fff;
    position: relative;
    z-index: 99999;
    left: 47%;
    bottom: 45px;
    cursor: pointer;
}

.language .text i {
    color: rgba(255, 255, 255, .9);
    margin-right: 10px;
}

.language .text span {
    padding-right: 20px;
}

/* Responsive Mobil and Tablets */

@media (max-width: 575.98px) {
    .navbar .collapse ul.navbar-nav {
        z-index: 999;
        position: relative;
    }

    .navbar-nav .dropdown-menu {
        margin-bottom: 10px !important;
    }
    
    .navbar button.navbar-toggler {
        border-color: rgba(255,255,255,.7);
    }

    .navbar .collapse ul.navbar-nav li.nav-item {
        padding: 0 10px;
        background: #0154F8;
        border: 1px solid rgba(255, 255, 255, .7);
        border-radius: 5px;
        margin-bottom: 3px;
    }

    .mobil-hide {
        display: none;
    }

    .carousel-caption h1 span.larger {
        color: #232122; 
        font-weight: 200; 
        font-size: 32px;
    }
    
    .carousel-caption h1 span.bold {
        color:#232122; 
        font-weight: bold;
        font-size: 24px;
    }
    
    .carousel-caption h1 span.orange {
        color: #f87004;
        font-size: 23px;
    }

    .carousel-caption h3 span {
        letter-spacing: 3px; 
        font-weight: 400;
        font-size: 17px;
    }

    .carousel-caption p {
        font-size: 13px;
        font-weight: lighter;
    }

    .font-size-13 {
        font-size: 13px;
        padding: 10px 15px;
    }
    
    .content .featurette h2 span.larger {
        color: #232122; 
        font-weight: 200; 
        font-size:35px;
    }

    .content .featurette h2 span.bold {
        color:#232122; 
        font-weight: bold;
    }

    .content .featurette h2 span.orange {
        color: #f87004;
        font-size: 28px;
    }

    .mobil-center {
        text-align: center;
    }

    .up-top {
        left: 45%;
    }

    .mobile-phone,
    .copyright {
        font-size: 12px !important;
    }

    .content .card .card-body p span {
        font-size: 15px !important;
    }

}

@media (max-width: 767.98px) {

    .mobil-hide {
        display: none;
    }

    .navbar button.navbar-toggler {
        border-color: rgba(255,255,255,.7);
    }

    .navbar-nav .dropdown-menu {
        margin-bottom: 10px !important;
    }

    .navbar .collapse ul.navbar-nav {
        z-index: 999;
        position: relative;
    }

    .navbar .collapse ul.navbar-nav li.nav-item {
        padding: 0 10px;
        background: #0154F8;
        border: 1px solid rgba(255, 255, 255, .7);
        border-radius: 5px;
        margin-bottom: 3px;
    }

    .content .card .card-body p span {
        font-size: 13px !important;
    }

}

@media (max-width: 991.98px) {
    .mobil-hide {
        display: none;
    }

    .font-size-13 {
        font-size: 13px;
        padding: 9px 12px;
    }

    .navbar-nav .dropdown-menu {
        margin-bottom: 10px !important;
    }

    .navbar button.navbar-toggler {
        border-color: rgba(255,255,255,.7);
    }
    
    .navbar .collapse ul.navbar-nav {
        z-index: 999;
        position: relative;
    }

    .navbar .collapse ul.navbar-nav li.nav-item {
        padding: 0 10px;
        background: #0154F8;
        border: 1px solid rgba(255, 255, 255, .7);
        border-radius: 5px;
        margin-bottom: 3px;
    }

    .content .featurette h2 span.larger {
        color: #232122; 
        font-weight: 200; 
        font-size:28px;
    }

    .content .featurette h2 span.bold {
        color:#232122; 
        font-weight: bold;
        font-size: 30px;
    }

    .content .featurette h2 span.orange {
        color: #f87004;
        font-size: 28px;
    }

    .content .featurette p.lorem {
        font-size: 0.75rem;
    }

    .content .card .card-body p span {
        font-size: 11px;
    }

    footer .col .media .media-body h6,
    footer .col .media .media-body p {
        font-size: 13px !important;
    }

    .list-group-item {
        margin-bottom: 0;
    }

}

@media (max-width: 1199.98px) {

}



@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}